.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    /*gap: 100px;*/
    gap: 20px 60px; /* row-gap column gap */
}

.card {
    border-radius: 1em;
    text-align: center;
    padding: 0.5em;
}

.card:hover {
    background: #adb5bd;
}

.card:hover p {
    color: #c700a8;
}

.card:hover h5 {
    color: #c700a8;
}

.card:hover img {
    border-radius: 50%;
}

